* {
  font-family: "DM Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}

window#waybar {
  color: mintcream;
  background-color: transparent;
}


#workspaces {
  color: mintcream;
  background-color: #25282e;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
}

#workspaces button.active {
  color: #25282e;
  background-color: mintcream;
  padding: 5px 15px;
}

#workspaces button.active:hover {
  color: #25282e;
  background-color: mintcream;
}

#workspaces button.empty {
}

#workspaces button {
  color: mintcream;
  border: none;
  box-shadow: none;
  text-shadow: none;
  transition: background-color 0.6s ease, color 0.6s ease, padding-left 0.3s ease, padding-right 0.3s ease
}


#workspaces button:hover {
}

#workspaces button.urgent {
}

#battery,
#pulseaudio,
#backlight,
#custom-pacman,
#network,
#bluetooth,
#clock,
#custom-weather,
#custom-media,
#window,
#cpu,
#memory,
#disk,
#tray,
#custom-launcher,
#custom-notification,
#power-profiles-daemon {
  background-color: #25282e;
  padding: 0 15px 0 15px;
  margin: 0 12px;
}

#custom-volight,
#custom-wifibt{
  background-color: #25282e;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#custom-volight {
  padding-left: 15px;
  padding-right: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#custom-wifibt {
  padding-right: 15px;
  padding-left: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#pulseaudio,
#backlight,
#network,
#bluetooth {
  margin : 0 6;
}

#window.hidden {
    opacity: 0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

window#waybar.empty #window {
    background-color: transparent;
}

